.footerContainer {
  position: relative;
  display: flex;
  padding: 10px 20%;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 12px;
  margin-top: 80px;
}

.footerContainer ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 15px;
}
.footerContainer .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  padding: 0px;
}

a {
  color: white;
}
li:hover,
a:hover {
  color: tomato;
}
.footerContainer ul li {
  list-style: none;
  cursor: pointer;
}

/* To make it more responsive*/
@media screen and (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    padding: 20px 10%;
    text-align: center;
  }

  .footerContainer ul {
    align-items: center;
    row-gap: 10px;
  }

  .footerContainer .social {
    justify-content: center;
    column-gap: 15px;
    margin-bottom: 15px;
  }

  .footerContainer ul li {
    text-align: center;
  }
}
