.footerContainer {
  position: relative;
  display: flex;
  padding: 10px 20%;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 12px;
  margin-top: 80px;
}

.footerContainer ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 15px;
}
.footerContainer .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  padding: 0px;
}

a {
  color: white;
}
li:hover,
a:hover {
  color: tomato;
}
.footerContainer ul li {
  list-style: none;
  cursor: pointer;
}
