* {
  margin: 0px;

}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  background-color: rgb(27, 26, 26);
  height: 2000px;
  font-family: "Montserrat", sans-serif;
}
